body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}
.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea {
    height: 80px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ff9bc1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #ff9bc1;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: rgb(255, 185, 185);
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}
table th {
    background-color: #ff9bc1;
    color: white;
}
a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #ff9bc1;
    font-weight: bold;
}